*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    padding: 20px 20px;
    background-position: center;
    background-size: cover;
   

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 100;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 30px;

}
nav ul li a{
    text-decoration: none;
    font-size: 20px;

}
.text-box{
    margin-top: 15%;
    max-width: 600px;
    left: 60%;
    padding: 0 20px;
    margin: 15% 10%;

}
.text-box h1{
    font-size: 90px;
    color: #3f51b5;
    font-family: 'Smooch', cursive;
    margin-bottom: 20px;

}
.user-box{
    top: 0;
    right: 12%;
    position: absolute;
    z-index: 1;

}
.user-box img{
    padding-top: 100px;
    border-radius: 100px;
}
.text-box a{
    text-decoration: none;
    border: 2px #3f51b5 solid;
    color: black;
    background-color: #3f51b5;
    padding: 10px;
    margin: 10px;


}
.text-box p{
    margin-bottom: 20px;

}
span {
  content: "\2192";
  color: white;
}